@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&display=swap');

/*font de page*/
*{
	margin: 0;padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
p{
  font-weight: 300;
  color: #fff;
}
body {
  background-color: #492424; 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 13px;
  margin: 0; 
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
:root {
  --adoblue: #000b2df5;
}

/* sms indisponible */

.indisponibletxt {
  display: block;
  align-items: center;
  text-align: center;
}
.indisponibletxt .txtindis {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  padding: 20px;
  display: block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
header {
  display: none;
}
.topm {
  display: none;
}
.formulaire {
  margin-top: -40px;
  margin-left: 30%;
  margin-right: 30%;
}
.contenulist{
  display: none;
}
.contenuhomeab {
  display: none;
}
.topm {
  display: none;
}
.formulairelicence {
  display: none;
}
.bbox {
  display: none;
}
.txtcontenuhomea {
  display: none;
}
.partenaire {
  display: none;
}
.slideraaa {
  display: none;
}
.entete {
  display: none;
}
.footer {
  display: none;
}
.formulairelicence {
  display: none;
}
.imgtkids {
  display: none;
}
.addpic {
  display: none;
}
.picblock {
  display: none;
}
.sliderabc {
  display: none;
}
.sliderabc img {
  width: 0px;
  height: 0px;
}
.imgtableaux {
  display: none;
}
.card {
  display: none;
}
.searchcode {
  display: none;
}
.besoin {
  display: none;
}

.rotate {
  display: none;
}


.toursliderabcphone {
  display: none;
}



.toursliderabc {
  display: block;
  z-index: 100;
  width: 100%;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}
.entetescore {
  display: flex;
  z-index: 1000;
  width: 94%;
  top: 0;
  margin-left: 3%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow-y: auto;
}
.entetescore .logogolf {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}
.entetescore .ttaz{
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(255, 241, 216);
  border-radius: 5px;
  padding-bottom: 3px;
  margin-left: 30px;
  font-weight: 900;
}
.score {
  display: block;
  z-index: 1000;
  width: 94%;
  height: 80%;
  top: 0;
  margin-left: 3%;
  position: relative;
  padding-top: 3%;
  overflow-y: auto;
}
.score .tt{
  font-size: 25px;
  color: rgb(255, 251, 210);
  background-color: rgba(4, 45, 62, 0.904); 
  padding-left: 12px;
  padding-top: 12px;
  border-top-left-radius: 15px;
  border-top-right-radius: 40px;
  padding-right: 40px;

}
.score .tta{
  text-transform: uppercase;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-top: 8px;
  margin-left: 30px;
  font-weight: 900;
}
.score .ttaz{
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(255, 241, 216);
  border-radius: 5px;
  padding-bottom: 3px;
  margin-left: 30px;
  font-weight: 900;
}

.score .form-controlab {
  box-shadow: -1px 1px 9px rgb(78, 162, 82);
  border: 1px solid #faeb1c;
  text-align: center; 
  font-size: 11px;
  height: 25px;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;
  background-color: #00250b;
  color: white;
  padding-right: 20px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  margin-right: 50px;
}
.score .selectbox {
  background-color: #00250b;
  color: white;
}
.score .entete {
  display: flex;
  position: relative;
  padding-bottom: 15px; 
  background-color: rgba(8, 54, 74, 0.904); 
}
.score .logogolf {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}
.entetescore .logogolff {
  width: 70px;
  height: 70px;
  margin-left: 10px;
  position: relative;
  display: block;
  background-image: linear-gradient(rgba(110, 107, 107, 0) , rgba(119, 119, 119, 0)), 
    url(../images/profileimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.score .entete .bartab {
  width: 89%;
  height: 1px;
  margin-left: 2%;
  filter: opacity(0.2);
  margin-top: 28px;
  display: none;
  position: absolute;
  box-shadow: -1px 12px 12px #5e6b64;
  z-index: 1900;
}
.score .entete .boxentetejz {
  width: 30px;
  text-align: center;
  margin-top: 8px;
  margin-left: 3px;
  height: max-content;
  border: 1px solid #a5d1ab7d;
  text-align: center;
  font-size: 14px;
  color: white;
}
.score .entete .boxentetejw {
  width: 20%;
  margin-top: 8px;
  border-radius: 4px;
  height: max-content;
  text-align: center;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: start; 
  padding-left: 16px;
}
.score .entete .boxentetej {
  width: 30px;
  text-align: center;
  margin-top: 8px;
  height: max-content;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #a5d1ab7d;
  font-size: 14px;
  color: white;
}
.btna {
  display: none;
}
.btnb {
  display: none;
}



.lottiescriptc {
  position: relative;
  display: none;
  width: 100%;
  padding-left: 30%;
  padding-right: 30%;
  margin-top: -80px;
}



.headerb {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 85px;
  z-index: 1000;
}
.headerb .menutop {
  max-width: 1200px;
  margin: 40px;
}
.headerb .menutop ul {
	float: right;
	list-style-type: none;
}
.headerb .menutop ul li {
  margin-top: 13px;
  display: inline-block;
}
.headerb .menutop ul li a {
  text-decoration: none;
  background-color: transparent;
  padding: 5px 15px;
  transition: 0.6s ease;
  color: rgba(255, 255, 255, 0.813);
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerb .menutop ul li a:hover {
  color: rgba(255, 247, 0, 0.99);
  border-radius: 5px;
  background-color: transparent;
  font-size: 17px;
  font-weight: 730;
}
.headerb .logo img{
  cursor: pointer;
  float: right;
  height: 55px;
  width: 58px;
  margin-right: 120px;
  margin-top: 15px;
}

.banniere{
  background-image: url(../images/tourimgabc.jpg);
  position: relative;
  width: 100%;
  display: flex;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.banniere .contenu {
  display: block;
  position: relative;
  margin-top: 165px;
  width: 50%;
  margin-left: 140px;
}
.banniere .contenu h1{
  color: rgb(44, 189, 109);
  font-size: 32px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 450;
  cursor: pointer;
  text-align: start;
  font-size: 60px;
}

.headerbtn {
  display: none;
}
.banniereb{
  background-image: url(../images/fondscoreg.gif);
  display: flex;
  z-index: 100;
  position: relative;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  justify-content: center;
}
.sli {
  display: none;
}
.fondgif {
  display: none;
}
.slideshop {
  display: none;
}















































































@media(max-width:991px){

  .indisponibletxt {
    display: none;
  }
  body {
    background-image: none;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    margin: 0; 
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  #menu-bar{
    display: none;
  }
  header label{
    cursor: pointer;
    margin-top: 13px;
    position: absolute;
    z-index: 1100;
    left: 0;
    margin-left: 23px;
    display: none;
  }
  header label .imgmenu {
    width: 25px;
    height: 16px;
  }
  #menu-bar:checked ~ .menutop {
    display: initial;
  }

  .headerb {
    display: none;
  }
  .banniere{
    display: none;
  }
  .banniereb{
    display: none;
  }

  

  header {
    background-image: none;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    width: 100%;
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 90px;
    z-index: 1300;
    align-items: center;
    display: flex;
  }
  header label {
    display: initial;
  }
  header .menutop {
    position: absolute;
    margin-top: 0px;
    width: 90%;
    z-index: 900;
    top: 0; left:0; right: 0;
    border-bottom-right-radius: 20px;
    background-color: rgb(70, 169, 0);
    display: none;
  }
  header .menutop ul li {
    width: 100%;
  }
  header .menutop ul li a{
    display: block;
    text-decoration: none;
    transition: 0.5s ease;
    background-color: transparent;
    margin-top: 6px;
    color: rgb(29, 41, 95);
    font-weight: 600;
    font-size: 14px;
    padding : 5px 15px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    border-radius: 19px;
  }
  .logo img{
    cursor: pointer;
    position: absolute;
    display: inline-block;
    height: 70px;
    width: 70px;
    right: 0;
    margin-right: 30px;
    margin-top: -15px;
    z-index: 800;
  }

  .headerbtn {
    display: none;
  }
  .topm {
    display: block;
    position: relative;
    width: 90%;
    border-radius: 13px;
    height: 86px;
    justify-content: center;
    z-index: 1000;
    padding: 30px;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }



  






  .sli {
    display: block;
    position: absolute;
    top: 0; 
    width: 100%;
    height: 390px;
    filter: contrast(70%);
    filter: brightness(0.90);
  }

  .formulaire {
    background-color: transparent;
    display: block;
    z-index: 1010;
    position: relative;
    margin-top: -100px;
  }
  .formulaire .devisbloc .lottiescript {
    position: relative;
    display: none;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    margin-top: -10px;
  }
  .devisbloc{
    padding: 2px;
    background: transparent;
    max-width: 100%;
    margin: auto;
    display: block; 
  }
  .devisbloc form {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px; 
  }
  .devisbloc h1 {
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    margin-bottom: 13px;
  }
  .devisbloc h3 {
    font-size: 10px;
    font-weight: 600;
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 28px;
    font-style: oblique;
  }
  .devisbloc h2 {
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px; 
  }
  .devisbloc a {
    font-size: 10px;
    font-weight: 600;
    color: rgb(11, 71, 6);
    padding-left: 12px;
    font-family: 'Poppins', sans-serif;
  }
  .devisbloc .form-wrapper .titleform {
    font-size: 11px;
    font-weight: 600;
    color: rgb(238, 247, 118);
    padding-left: 12px;
    font-family: 'Poppins', sans-serif;
  }
  .form-controla {
    border: 1px solid #faeb1c;
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 15px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
  }
  .form-controla ::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: 'Poppins', sans-serif; 
  }
  .form-controla ::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: 'Poppins', sans-serif; 
  }
  .form-controla:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: 'Poppins', sans-serif; 
  }
  .form-controla:-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: 'Poppins', sans-serif;
  }
  .contenulist {
    display: block;
  }
  .addpic {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    z-index: 1000;
  }
  .addbtn{
    width: 60%;
    margin-left: 33%;
    margin-top: -35px;
    margin-bottom: 15px;
  }
  .lico{
    position: relative;
    display: block;
    width: 94%;
    margin-left: 3%;
    border-radius: 8px;
    padding-top: 22px;
    height: 200px;
    background-image: linear-gradient(rgba(110, 107, 107, 0) , rgba(119, 119, 119, 0)), 
    url(../images/maquette/vierge.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .imageuser{
    position: relative;
    display: block;
    width: 100px;
    margin-left: 62%;
    border-radius: 12px;
    margin-top: 22px;
    height: 100px;
    background-image: linear-gradient(rgba(110, 107, 107, 0) , rgba(119, 119, 119, 0)), 
    url(../images/garoua/profileimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }





  .searchcode {
    display: block;
  }
  .fondscore img{
    width: 100%;
    height: 300px;
  }
  .slideraaa img {
    width: 100%;
    height: 540px;
  }
  .slideraaa {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    z-index: 1100;
  }
  .slideraaa img {
    width: 100%;
    height: 570px;
  }



 





  .card {
    display: block;
    z-index: 1010;
    position: relative;
    background-color: transparent;
    border-color: transparent;
  }
  .fondgif {
    display: block;
    z-index: 100;
    position: absolute;
    top: 0; left: 0; right: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/mapa.png);
    background-size: cover;
    background-position: center;
  }
  .partenaire{
    position: relative;
    width: 100%;
    padding-top: 10px;
    display: block;
    box-sizing: border-box;
    overflow: hidden;
  }
  .partenaire .box {
    display: block;
    margin-top: 15px;
    margin-left: 30px;
    position: relative;
  }
  .partenaire .box b {
    display: block;
    color: white;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }
  .partenaire .slider_container{
    position: relative;
    width: 100%;
    white-space: nowrap;
    margin-top: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .partenaire .slider_container::-webkit-scrollbar{
    -webkit-appearance: none;
  }
  .partenaire .itemservice{
    display: inline-block;
    margin-right: 15px;
  }
  .partenaire .itemservice img{
    width: 240px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
    overflow: auto;
    scroll-behavior: smooth;
    box-shadow: -1px 1px 12px #83f6bbd2;
  }
  .partenaire .itemserviced{
    display: inline-block;
    margin-right: 15px;
  }
  .partenaire .itemserviced img{
    width: 240px;
    height: 250px;
    border-radius: 15px;
    cursor: pointer;
    object-fit: cover;
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    box-shadow: -1px 1px 12px #9f9f9fd2;
  }
  .partenaire .itemserviced .txtitem{
    background-color: rgb(42, 196, 86);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 0;
    text-align: center;
    padding: 10px 22px;
    border-top-left-radius: 10px;
  }


.contenuhomeab {
  display: block;
}
.sliderabc {
  display: block;
}
.sliderabc img {
  display: block;
  position: relative;
  width: 100%;
  height: 320px;
  justify-content: center;
  z-index: 1300;
}
.imgtableaux {
  display: block;
}
.imgtkids {
  display: block;
}







.toursliderabcphone {
  display: block;
}

.toursliderabc {
  display: block;
  z-index: 100;
  width: 100%;
  height: 100vh;
  padding-right: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
}
.toursliderabc .entetescore {
  display: flex;
  z-index: 1000;
  width: 98%;
  top: 0;
  margin-left: 1%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow-y: auto;
}
.entetescore .logogolf {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}
.entetescore .ttaz{
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(255, 241, 216);
  border-radius: 5px;
  padding-bottom: 3px;
  margin-left: 30px;
  font-weight: 900;
}
.toursliderabc .score {
  display: block;
  z-index: 1000;
  width: 98%;
  margin-left: 1%;
  height: 80%;
  top: 0;
  position: relative;
  padding-top: 3%;
  overflow-y: auto; 
}
.rotate {
  display: block;
  margin: 20px;
  width: 70px;
  position: absolute;
  z-index: 1500;
}
.score .form-controlab {
  box-shadow: -1px 1px 9px rgb(78, 162, 82);
  border: 1px solid #faeb1c;
  text-align: center; 
  font-size: 11px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.score .tt{
  font-size: 15px;
  color: rgb(255, 251, 210);
}

.score .tta{
  text-transform: uppercase;
  font-size: 15px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding-top: 8px;
  margin-left: 20px;
  font-weight: 900;
}
.score .ttaz{
  text-transform: uppercase;
  font-size: 6px;
  color: rgb(255, 241, 216);
  border-radius: 5px;
  padding-bottom: 3px;
  margin-left: 20px;
  font-weight: 900;
}
.score .ttb{
  font-size: 10px;
  color: rgb(6, 0, 89);
  background-color: rgb(245, 200, 0);
  border-radius: 10px;
  text-align: end;
  cursor: pointer;
  padding: 5px 13px;
  height: 25px;
  width: 100px;
  padding-right: 20px;
  position: absolute;
  right: 0; 
  margin-right: 20px;
}
.score .ttta {
  display: none;
}
.score .entete .bartab {
  display: none;
  filter: opacity(0);
}

.score .entete .boxentetejz {
  width: 30px;
  text-align: center;
  margin-top: 14px;
  margin-left: 1px;
  height: max-content;
  border: 1px solid #a5d1ab7d;
  text-align: center;
  font-size: 8px;
  color: white;
}
.score .entete .boxentetejw {
  width: 31%;
  text-align: center;
  margin-top: 14px;
  height: content;
  font-size: 8px;
  color: white;
  text-transform: lowercase;
  text-align: start; 
  padding-left: 4px;
}
.score .entete .boxentetej {
  width: 30px;
  text-align: center;
  margin-top: 14px;
  height: content;
  text-align: center;
  border: 1px solid #a5d1ab7d;
  font-size: 8px;
  color: white;
}
.slideshop {
  display: flex;
}
.btna {
  display: flex;
}
.btnb {
  display: flex;
}

















/*  Footer */


  .footer{
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(7, 7, 47);
  }
  .footer-col {
    width: 100%;
    margin-bottom: 3px;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 17px;
    color: #fff;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }
  .footer-col .social-links a{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255, 0.2);
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    background-color: #fff;
    color: #24262b;
  }
  .container {
    max-width: 1170px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer p {
    margin-top: 0px;
    text-align: center;
  }
  .whatsappid {
    margin-right: 30px;
    margin-bottom: 15px;
    box-shadow: #24262b;
    z-index: 1000;
  }

}




@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/poppins/Poppins-SemiBold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



input, textarea, select, button {
  font-family: "Poppins-Regular";
  color: #333;
  font-size: 13px; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img {
  max-width: 100%; }
image-holder {
  border-radius: 15px;
}
a:hover {
  text-decoration: none; }
:focus {
  outline: none; }
.wrapper {
  min-height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center; }

.inner {
  padding: 20px;
  background: #fff;
  max-width: 850px;
  margin: auto;
  display: flex; }
  .inner .image-holder {
    width: 50%; }
  .inner form {
    width: 50%;
    padding-top: 36px;
    padding-left: 45px;
    padding-right: 45px; }
  .inner h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-family: "Poppins-SemiBold";
    text-align: center;
    margin-bottom: 28px; }

.form-group {
  display: flex; }
  .form-group input {
    width: 50%;
   }
    .form-group input:first-child {
      margin-right: 25px; }

.form-wrapper {
  position: relative; }
  .form-wrapper i {
    position: absolute;
    bottom: 9px;
    right: 0; }

.form-control {
  border: 1px solid #333;
  border-top: none;
  border-right: none;
  border-left: none;
  display: block;
  width: 100%;
  height: 30px;
  padding: 0;
  margin-bottom: 25px; }
  .form-control::-webkit-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular"; }
  .form-control::-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular"; }
  .form-control:-ms-input-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular"; }
  .form-control:-moz-placeholder {
    font-size: 13px;
    color: #333;
    font-family: "Poppins-Regular"; }

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px; }
  select option[value=""][disabled] {
    display: none; }

button {
  border: none;
  width: 100%;
  height: 51px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #333;
  font-size: 15px;
  color: #fff;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  button:hover i, button:focus i, button:active i {
    -webkit-animation-name: hvr-icon-wobble-horizontal;
    animation-name: hvr-icon-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

    @-webkit-keyframes hvr-icon-wobble-horizontal {
      16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px); }
      33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px); }
      49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px); }
      66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px); }
      83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px); }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
    @keyframes hvr-icon-wobble-horizontal {
      16.65% {
        -webkit-transform: translateX(6px);
        transform: translateX(6px); }
      33.3% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px); }
      49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px); }
      66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px); }
      83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px); }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
    @media (max-width: 1199px) {
      .wrapper {
        background-position: right center; } }
    @media (max-width: 991px) {
      .inner form {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px; } }
    @media (max-width: 767px) {
      .inner {
        display: block; }
        .inner .image-holder {
          width: 100%; }
        .inner form {
          width: 100%;
          padding: 40px 0 30px; }
    
      button {
        margin-top: 60px; } }
    
/*# sourceMappingURL=style.css.map */